requests
selenium
webdriver-manager
beautifulsoup4
pandas
pillow
torch
transformers
sentence-transformers
faiss-cpu
scikit-learn
matplotlib
streamlit
wandb
optuna
jupyter
cloudscraper
fastapi
uvicorn
streamlit